/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

/*ícone do YouTube */
.icon {
    width: 80px;
    margin-bottom: 20px;
}

/* título principal */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}


label {
    display: block;
    margin-top: 15px;
    font-size: 16px;
    color: #333;
}

/* campos de entrada */
input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box; 
}

button {
    width: 100%;
    padding: 12px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

/* Mudança de cor do botão */
button:hover {
    background-color: #cc0000;
}

/* inputs e botão quando em foco */
input:focus, button:focus {
    outline: none;
    border-color: #ff3333;
}

/* Mensagens de erro ou sucesso */
.error-message, .success-message {
    color: red;
    margin-top: 20px;
}

.success-message {
    color: green;
}
